<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sass/estilo.css">
    <title>Robotica</title>
</head>
<body>
    <section>
        <div class="card-1">
            <p>Soy una tarjeta de prueba</p>
        </div>
        <div class="card-2">
            <p>soy otra tarjeta de prueba</p>
        </div>
    </section>

    <main>
        <section>
        <a href="https://www.facebook.com" class="btn-robotica">google</a>
    </section
    </main>
</body>
</html>